extends layout

block content
  h1= title
  p Welcome to #{title}, #{user}
  div(class="container-lists") 
    each val in lists 
      div(class="list") 
        h2= val.list
        ul 
          each item in val.items 
            li=item

  div(class="container-forms") 
    form(action="/addList" method="post")
      div(class="input-unit")
        input(type="hidden" name="user" value="test")
        label(for="inputAddList") Add List: 
        input(type="text" name="inputAddList")
      button(type="submit") Add
    form(action="/addItem" method="post")
      div(class="input-unit")
        input(type="hidden" name="user" value="test")
        label(for="listAdded") List to be added to:
        input(type="text" name="listAdded")
      div(class="input-unit")
        label(for="inputAddItem") Add Item: 
        input(type="text" name="inputAddItem")
      button(type="submit") Add
    form(action="/deleteList" method="post")
      div(class="input-unit")
        input(type="hidden" name="user" value="test")
        label(for="inputDeleteList") Delete List: 
        input(type="text" name="inputDeleteList")
      button(type="submit") Delete
    form(action="/deleteItem" method="post")
      div(class="input-unit")
        input(type="hidden" name="user" value="test")
        label(for="listDeletedFrom") List to be removed from:
        input(type="text" name="listDeletedFrom")
      div(class="input-unit")
        label(for="inputDeleteItem") Delete Item: 
        input(type="text" name="inputDeleteItem")
      button(type="submit") Delete
  div(id="read-me") 
    h1 Read Me! 
    p 
      | As you're aware, I am building a SPA. As such, I've begun 
      | by creating my api, the endpoints, and setting up the mongodb. 
      | I'm in the beginning stages of routing the application to app_public 
      | which is the angular spa. Therefore, I put together this assignment to 
      | render from the express server (app_server) so that you could 
      | test some of the endpoints from my api. I have a mongodb atlas 
      | running which you are connecting to remotely as the user "test". 
      | I have supplied a dummy set of lists and items for you to perform 
      | basic CRUD operations on. 

